.show-container {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .show-item-container {
        width: 190px;
        height: 250px;
        .show-image {
            width: 190px;
            height: 190px;
        }
        .show-name {
            text-align: center;
        }
    }
}