.title-container {
    display: flex;
    position: relative;
    .name-container {
        margin-left: 150px;
        display: flex;
        .logo {
            margin-right: 100px;
            img {
                margin-top: 15px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
        .name {
            p {
                font-size: 60px;
                margin: 0
            }
        }
    }
    .admin-login-container {
        position: relative;
        margin-left: 200px;
        button {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }
    }
}

.menu-container {
    padding-left: 350px;
    padding-right: 415px;
}

.adminMenu-container {
    padding-left: 310px;
    padding-right: 370px;
}