@import '~antd/dist/antd.css';
.container {
    padding-left: 100px;
    padding-right: 100px;
}

.content-container {
    display: flex;
    .right-side {
        width: 400px;
        height: 400px;
    }
    .left-side {
        margin-left: 50px;
        width: 800px;
        height: 800px;
    }
}